<html>
<head>
    <% title = "Flights"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">
<script type="text/javascript" src="./scripts/flights.js"></script>
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <table class="table">
            <thread>
                <th>#</th>
                <th>Plane Name</th>
                <th>Select</th>
            </thread>
            <tbody>
            <%var j = 1; for(var i = 0; i < planes.length; i++){ %>
            <tr>
                <th scope="row"><%=j%></th>
                <td><%=planes[i].airplane_name%></td>
                <td><a href= flights/<%= planes[i].airplaneID%>/newflight>Select</a> </td>
            </tr>
            <%j++;}%>
            </tbody>
        </table>
    </div>
    <div class="jumbotron">
        <table class="table">
            <thread>
                <th>#</th>
                <th>Flight Takeoff</th>
                <th>Flight Landing</th>
                <th>Delete</th>
            </thread>
            <tbody>
            <%var j = 1; for(var i = 0; i < result.length; i++){ %>
            <tr>
                <th scope="row"><%=j%></th>
                <td><%=result[i].flight_takeoff%></td>
                <td><%=result[i].flight_landing%></td>
                <td><a href=/flights/<%= result[i].flightID%>/delete>Delete</a> </td>
            </tr>
            <%j++;}%>
            </tbody>
        </table>
    </div>

</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>