<!DOCTYPE html>
<html>
  <head>

      <% include ./partials/head.ejs %>
      <% title = "Homepage"; %>
      <script type="text/javascript" src="/javascripts/homepage_search.js"></script>

  </head>
  <body class="container">
  <main>
      <header>
          <% include ./partials/header.ejs %>
      </header>
      <div class="layout" id="signup_image">
          <div id="searchbox" class="jumbotron">
              <label id="form">
                  <form action="">

                      <input id="roundtrip" type="radio" checked name="flightdir" value="roundtrip"> <label id="radio_button"> Round trip</label>
                      <input id="oneway" type="radio" name="flightdir" value="oneway"> <label id="radio_button">One way</label><br>
                  </form>
                  <!-- <p> Date: <input type="text" id="date_input"></p>
                  <SingleDatePicker id="date_input" date={this.state.date} focused={this.state.focused}></SingleDatePicker> -->

                  <div class="form-group">
                      <label for="dep_city" id="city_menu">From</label>
                      <select class="form-control" id="dep_city" name="dep-city">
                          <% for(var i=0; i<airports.length; i++) { %>
                          <option value="<%= airports[i].airportID %>"><%= airports[i].printName %> (<%= airports[i].abbr %>)</option>
                          <% } %>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="arr_city" id="city_menu">To</label>
                      <select class="form-control" id="arr_city" name="arr-city">
                          <% for(var i=0; i<airports.length; i++) { %>
                          <option value="<%= airports[i].airportID %>"><%= airports[i].printName %> (<%= airports[i].abbr %>)</option>
                          <% } %>
                      </select>
                  </div>

                  <form method="post">
                      <div class="form-group">
                          <label for="outward-date" class="control-label" id="outward-text"> Outward </label>
                          <input class="form-control" id="outward-date" name="outward-date" placeholder="MM/DD/YYYY" type="text"/>
                      </div>

                  </form>

                  <div id = "returngroup" class="form-group">
                      <label for="return-date" class="control-label" id="return-text"> Return </label>
                      <input class="form-control" id="return-date" name="return-date" placeholder="MM/DD/YYYY" type="text"/>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                  </div>
              </label>

          </div>
      </div>



      <div>
          <SingleDatePicker id="date_input" date={this.state.date} focused={this.state.focused}></SingleDatePicker>

      </div>


  </main>
</body>

</html>
