<html>
<head>
    <% title = "Flights"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <% for(var k =0; k<result.length; k++){ %>
    <div class="jumbotron">
        <table class="table">
            <thread>
                <th>#</th>
                <th>Booking Type</th>
                <th>Plane</th>
                <th>Flight Takeoff</th>
                <th>Flight Landing</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Cancel</th>
            </thread>
            <tbody>
            <%for(var i = 0; i < result[k].length; i++){ %>
            <tr>
                <th scope="row"><%= (i+1); %></th>
                <td><%= result[k][i].bookingType %></td>
                <td><%= result[k][i].planeName %></td>
                <td><%= result[k][i].takeoff %> (<%= flights[i].takeoffAbbr %>)</td>
                <td><%= result[k][i].landing %> (<%= flights[i].landingAbbr %>)</td>
                <td><%= result[k][i].departureTime %></td>
                <td><%= result[k][i].arrivalTime %></td>
                <td>Cancel Button Here</td>
            </tr>
            <% } %>
        </table>
    </div>
    <% } %>

</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>