<html>
<head>
    <% title = "Bookings"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <h1>Bookings</h1>
    <% for(var k =0; k<result.length; k++){ %>
    <div class="jumbotron">
        <table class="table">
            <thread>
                <th>#</th>
                <th>Plane Name</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Arrival</th>
                <th>Arrival Time</th>
                <th>Check In</th>
                <th>Cancel</th>
            </thread>
            <tbody>
            <% for(var i = 0; i < result[k].length; i++){ %>
                <tr id="BookingRow<%= result[k][i].bookingID %>">
                <th scope="row"><%= (i+1) %></th>
                <td><%= result[k][i].planeName %></td>
                <td><%= result[k][i].takeoff %> (<%= result[k][i].takeoffAbbr %>)</td>
                <td><%= result[k][i].departureTime %></td>
                <td><%= result[k][i].landing %> (<%= result[k][i].landingAbbr %>)</td>
                <td><%= result[k][i].arrivalTime %></td>
                <% if (i == 0) { %>
                    <td><a class="btn btn-large btn-info" href= bookings/<%= result[k][i].bookingID%>/>Check In</a> </td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#BookingDeleteConfirm<%= result[k][i].bookingID %>">Delete</button></td>
                <% } %>
            </tr>
            <% } %>
        </table>
        <% for(var i = 0; i < result[k].length; i++){ %>
        <div id="BookingDeleteConfirm<%= result[k][i].bookingID %>" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm Delete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this booking? This action cannot be easily undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" onclick="deleteBooking(<%= result[k][i].bookingID %>)">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
    <script>
        function deleteBooking(id) {
            console.log(id+"lol");
            $.ajax({
                url: '/bookings/' + id,
                type: 'DELETE',
                success: $("#BookingRow" + id).remove(),
                error: function(req, status, error) {
                }
            });}
    </script>
</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>