<!DOCTYPE html>
<html>
<head>

    <% include ./partials/head.ejs %>
    <% title = "Search Results"; %>
    <script type="text/javascript" src="/javascripts/homepage_search.js"></script>

</head>
<body class="container">
<main>

    <header>
        <% include ./partials/header.ejs %>
    </header>

    <div class="jumbotron">
        <h1>Search Results</h1>
    </div>
    <div class="jumbotron">
        <form action="#" method="POST">
            <label class="col-xs-3 control-label">Sorting: </label>
            <input type="hidden" value="<%= JSON.stringify(bookingList[i]) %>" name="booking_flights" />
            <input type="hidden" value="<%=flightType%>" name="flightType"/>
            <input type="hidden" value="<%=returnDate%>" name="returnDate"/>
            <input type="hidden" value="<%=fromCity%>" name="fromCity"/>
            <input type="hidden" value="<%=toCity%>" name="toCity"/>
            <select name="sortType" id="sortType" onchange="this.form.submit()">
                <option value="STOPS"<% if(sortType=="STOPS") { %> selected<% } %>>Number of Stops</option>
                <option value="PRICELH"<% if(sortType=="PRICELH") { %> selected<% } %>>Price (Low to High)</option>
                <option value="DEPEL"<% if(sortType=="DEPEL") { %> selected<% } %>>Departure (Early to Late)</option>
                <option value="DEPLE"<% if(sortType=="DEPLE") { %> selected<% } %>>Departure (Late to Early)</option>
                <option value="ARREL"<% if(sortType=="ARREL") { %> selected<% } %>>Arrival (Early to Late)</option>
                <option value="ARRLE"<% if(sortType=="ARRLE") { %> selected<% } %>>Arrival (Late to Early)</option>
                <option value="TRAVELTIME"<% if(sortType=="TRAVELTIME") { %> selected<% } %>>Travel Time</option>
            </select>
        </form>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Flight ID</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Arrival</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<flightList.length; i++) { %>
            <tr id="FlightRow<%= i %>">
                <form action="/search/book" method="post">
                    <td><% for(var j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].flightID %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].takeoff %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].departureTime %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].landing %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].arrivalTime %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><%= priceList[i] %></td>
                    <input type="hidden" value="<%= JSON.stringify(bookingList[i]) %>" name="booking_flights" />
                    <input type="hidden" value="<%=flightType%>" name="flightType"/>
                    <input type="hidden" value="<%=returnDate%>" name="returnDate"/>
                    <input type="hidden" value="<%=fromCity%>" name="fromCity"/>
                    <input type="hidden" value="<%=toCity%>" name="toCity"/>
                    <td><button type="submit" name="submit" class="btn btn-primary">Purchase</button></td>

                </form>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <jumbotron>
        <div id="map" style="width:1000px;height:400px;background:yellow"></div>
    </jumbotron>
</main>
<script>
    function myMap() {
        var test =  new google.maps.LatLng(41.8, -93);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: test,
            zoom: 6
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        <%for(var i = 0; i < airports.length; i++){%>
        var trip =[]
            <%for(var j = 0; j < airports[i].length; j++){%>
            var test =new google.maps.LatLng(<%= airports[i][j].lat %>, <%= airports[i][j].lon %>);
            trip.push(test);
            var marker<%= i %><%= j %> = new google.maps.Marker({
                position: test,
                map: map
            });
        <%}%>
        var flightPath<%= i %> = new google.maps.Polyline({
            path: trip,
            geodesic: true,
            strokeColor: "<%= colors[i%6] %>",
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        flightPath<%= i %>.setMap(map);
        <%}%>
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHoE28IbTjzqC9o0HFtApYAabN7z-DkY&callback=myMap"></script>
</body>

</html>
