<!DOCTYPE html>
<html>
<head>

    <% include ./partials/head.ejs %>
    <% title = "Search Results"; %>
    <script type="text/javascript" src="/javascripts/homepage_search.js"></script>

</head>
<body class="container">
<main>
    <header>
        <% include ./partials/header.ejs %>
    </header>

    <div class="jumbotron">
        <h1>Search Results</h1>
    </div>
    <div class="jumbotron">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Flight ID</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Arrival</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<flightList.length; i++) { %>
            <tr id="FlightRow<%= i %>">
                <form action="/book" method="post">
                    <td><% for(var j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].flightID %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].takeoff %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].departureTime %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].landing %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><% for(j=0; j<flightList[i].length; j++) { %><%= flightList[i][j].arrivalTime %><% if(j != flightList[i].length-1) { %><br/><% } } %></td>
                    <td><%= priceList[i] %></td>
                    <input type="hidden" value="<%= JSON.stringify(bookingList[i]) %>" name="user_id" />
                    <td><button type="submit" name="submit" class="btn btn-primary">Purchase</button></td>
                </form>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</main>
</body>

</html>
